Repository rstcheck/rstcheck: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-spelling-dicts, find-todos, mypy

Path conditions:
  sort-spelling-dicts: any of: spelling_dict.txt
  find-todos: any file but: TODO
  mypy: any of: \.py$

fix typo
  CHANGELOG.md
Due: find-todos

remove outdated version check
  prep_release.py
Due: find-todos, mypy

Add __main__.py file for command-line interface
  src/rstcheck/__main__.py
Due: find-todos, mypy

update changelog
  CHANGELOG.md
Due: find-todos

bump min. sphinx version up to v5
  pyproject.toml
Due: find-todos

drop tests with sphinx v4
  tox.ini
Due: find-todos

autoformat jsonc
  .markdownlint-cli2.jsonc
Due: find-todos

use prettier 3
  .pre-commit-config.yaml
Due: find-todos

Fix grammar on index.rst
  docs/source/index.rst
Due: find-todos

Update AUTHORS.rst file with new author(s)
  AUTHORS.rst
Due: find-todos

Add docstring
  src/rstcheck/__main__.py
Due: find-todos, mypy

Fix typo in CLI docs
  src/rstcheck/_cli.py
Due: find-todos, mypy

CI: remove enchant setup on macos; only run spelling check on linux
  .github/workflows/documentation.yml
  tox.ini
Due: find-todos

add env var to controll activation of spelling extension
  docs/source/conf.py
  tox.ini
Due: find-todos, mypy

fix spelling check
  docs/source/conf.py
Due: find-todos, mypy

remove non existing coverage docs tox env
  tox.ini
Due: find-todos

"release v6.2.1 [skip ci]"
  CHANGELOG.md
Due: find-todos

Remove dpendencies for Python < 3.8
  pyproject.toml
Due: find-todos

bump min version of typer and use the new dependency group name
  pyproject.toml
Due: find-todos

update configs for dev tooling
  .pre-commit-config.yaml
  .pylintrc.spelling.toml
  pyproject.toml
  tox.ini
Due: find-todos

update TODO setup
  .pre-commit-config.yaml
  src/rstcheck/_cli.py
Due: find-todos, mypy

removed outdated ruff lint group
  pyproject.toml
Due: find-todos

set default python version for whole pre-commit
  .pre-commit-config.yaml
Due: find-todos

update spelling dict and fix typos
  docs/source/spelling_dict.txt
  prep_release.py
  src/rstcheck/_cli.py
  tests/_cli_test.py
Due: sort-spelling-dicts, find-todos, mypy

bump default python version to 3.12
  .github/workflows/documentation.yml
  .github/workflows/qa.yml
  .github/workflows/test.yml
  .github/workflows/update-authors.yaml
  pyproject.toml
Due: find-todos

fix link in changelog
  CHANGELOG.md
Due: find-todos

update release script to avoid double v in version name
  prep_release.py
Due: find-todos, mypy

bump overlooked default python versions
  pyproject.toml
  tox.ini
Due: find-todos

move spelling dict into root dir
  .pylintrc.spelling.toml
  docs/source/conf.py
  spelling_dict.txt
Due: sort-spelling-dicts, find-todos, mypy

update spelling dict
  spelling_dict.txt
Due: sort-spelling-dicts, find-todos

don't run pylint (spelling) in pre-commit ci
  .pre-commit-config.yaml
Due: find-todos

add v-prefix to bumped version; remove adding v in strings; update changelog
  CHANGELOG.md
  prep_release.py
Due: find-todos, mypy

replace m2r2 with myst to fix install issue; m2r2 seems unmaintained
  docs/source/changelog.md
  docs/source/changelog.rst
  docs/source/conf.py
  pyproject.toml
Due: find-todos, mypy
